@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">No nie no...</h1>
    <h2>Wygląda na to, że twoje konto zostało zablokowane, jeśli uważasz że to pomyłka skontaktuj się z pomocą obsługi klienta</h2>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Powrót!</a>
</div>
